/*

  Adding basic styling to not make it look terrible. Even backend developers want things to look nice. 

*/

.App {
  text-align: center;
  padding: 10rem;
}

.container {
  margin: 0 auto;
  min-height: 50vh;
  width: 70vw;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.2);
  border-radius: 5px;
  background-color: #343a40;
  overflow: hidden;
}


form  {
  padding: 3rem;
  text-align: center;
}


h1 {
  margin: 2rem;
  font-size: 24px;
}

input, button {
  display: block;
  margin: 0 auto;
}


input {
  width: 60%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 5px;
}

button {
  border: none;
  padding: 0.5rem;
  width: 10rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.3s ease all;
}

button:hover {
  background-color: #c5c5c5;
  transform: translateY(-5px);
}

.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}